.spinner {
   position: relative;
}

.spinner::before,
.spinner::after {
   content: '';
   border-radius: 50%;
   position: absolute;
   transform: translate(-50%, -50%);
}

.spinner::before {
   width: 15.7px;
   height: 15.7px;
   background: rgba(84, 68, 207, 0.52);
}

.spinner::after {
   width: 56px;
   height: 56px;
   animation: spinner-y7ej37 1s infinite linear;
   border: 11.2px solid rgba(84, 68, 207, 0.52);
   border-left-color: transparent;
   border-right-color: transparent;
}

@keyframes spinner-y7ej37 {
   to {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}